@charset "utf-8";

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap);

:root {
    --light-blue-color: #1E90FF;
    --dark-blue-color: hsl(243, 23%, 16%);
    /* --transparent-dark-blue-color: rgba(255, 255, 255, .055); */
    --transparent-dark-blue-color: #2C2B3D;
}

body {
    margin: 0 auto;
    background-color: var(--dark-blue-color);
    max-width: 100em;
    font-family: Poppins, Arial;
    font-weight: 400;
    color: white;
    overflow-x: hidden;
    position: relative;
}

input,
textarea,
button,
select {
    font-family: Poppins, Arial;
    font-weight: 400;
}

a {
    color: var(--light-blue-color);
    text-decoration: unset;
    text-underline-offset: 1px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--transparent-dark-blue-color);
}

::-webkit-scrollbar-thumb {
    background: #6f6f76;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5e5e64;
}

.no-highlight {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.header-section-w {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-bottom: 1rem;
    background-color: var(--transparent-dark-blue-color);
    transition: background-color linear .2s;
}

.header-section-w.show {
    height: 100dvh;
    background-color: transparent;
    position: fixed;
}

.header-section-w.show .menu-panel {
    display: block;
}

.menu-panel {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    isolation: isolate;
    z-index: 10;
}

.menu-panel .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .55;
    z-index: -1;
}

.menu-panel .con {
    padding-top: .5rem;
    background-color: hsla(243, 23%, 16%, .8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    max-width: 23rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transition: width ease-in 2.5s, opacity ease-in 2.5s;
}

@media (max-width:30rem) {
    .menu-panel .con {
        max-width: unset;
    }
}

.menu-panel .con .h {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .875rem 1.5rem;
}

.menu-pan-lg {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.menu-pan-lg img {
    height: 100%;
}

.menu-pan-un {
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
}

.menu-panel .con .hr {
    height: 1px;
    background-color: rgba(255, 255, 255, .1);
    width: 100%;
    margin: .5rem 0;
}

.menu-panel .con .btn-c {
    display: flex;
    flex-direction: column;
}

.menu-panel .itm {
    padding: .875rem 1.5rem;
    color: white;
    font-size: .95rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-panel .itm i {
    font-size: 1.1rem;
}

.menu-panel .itm:hover {
    background-color: rgba(255, 255, 255, .075);
}

.header-section-w.fixed {
    background-color: unset;
}

.header-section-w.fixed .header-section-c {
    background-color: hsla(243, 23%, 16%, .8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    isolation: isolate;
}

.header-section-c {
    padding: .88rem 0;
    display: flex;
    justify-content: center;
    transition: background-color linear .2s, backdrop-filter linear .2s, -webkit-backdrop-filter linear .2s;
}

.header-section {
    width: 98%;
    max-width: 100em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

.header-l {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header-logo {
    display: flex;
    height: 2rem;
}

.main-search-w {
    display: flex;
    position: relative;
}

.search-c {
    display: flex;
    background-color: white;
    border-radius: 100px;
    margin: 0;
}

.search-c input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: .61rem .9rem;
    color: var(--dark-blue-color);
    font-size: .85rem;
}

.search-c div {
    display: flex;
    align-items: center;
    padding-right: .45rem;
}

.search-c div button {
    height: 100%;
    background-color: transparent;
    padding: 0 .55rem;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--dark-blue-color);
    ;
    font-size: .975rem;
}

.search-c div a {
    color: white;
    background-color: var(--dark-blue-color);
    padding: .25rem .65rem;
    border-radius: 100px;
    font-size: .8rem;
}

.main-search-w:focus-within #search-suggest {
    display: flex;
    height: auto;
}

#search-suggest {
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    top: 115%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: var(--transparent-dark-blue-color);
    box-shadow: 0 0 10px var(--dark-blue-color);
    height: 0;
    display: none;
    flex-direction: column;
}

.search-err-txt {
    color: rgba(255, 255, 255, .3);
    text-align: center;
    padding: .75rem 0;
    font-size: .9rem;
    font-weight: 300;
}

.search-suggest-item {
    padding: 9px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .01);
    display: grid;
    grid-template-columns: 50px 75.5%;
    gap: 15px;
}

.search-suggest-item.bl {
    border-bottom: 1px dashed rgba(255, 255, 255, .1);
}

.search-suggest-item:hover {
    background: rgba(255, 255, 255, .075);
}

.search-suggest-item:hover .n1,
.search-suggest-item:hover .s {
    color: var(--light-blue-color);
}

.search-suggest-item .image {
    padding-bottom: 70px;
    position: relative;
}

.search-suggest-item .image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-suggest-item .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-suggest-item .n1 {
    color: white;
    font-size: .85rem;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-suggest-item .n2 {
    margin-top: .15rem;
    color: #a0a0a0;
    font-size: .8rem;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-suggest-item .info {
    color: #a0a0a0;
    font-size: .75rem;
    font-weight: 300;
    margin-top: .5rem;
}

.search-suggest-item .s {
    color: whitesmoke;
}

.search-suggest-item .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    display: inline-block;
    margin: 3px 6px;
}

.search-suggest-m-btn {
    background-color: rgba(255, 255, 255, .3);
    color: white;
    font-size: .9rem;
    padding: .8rem 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-weight: 300;
}

.search-suggest-m-btn:hover {
    background-color: rgba(255, 255, 255, .35);
}

.search-suggest-m-btn i {
    font-size: .8rem;
}

.header-r {
    display: flex;
    gap: 2rem;
}

.navigation-list {
    display: flex;
    gap: 1em;
}

.nav-list-itm {
    display: flex;
    align-items: center;
    color: white;
    font-size: .93rem;
    transition: color .15s ease;
}

.nav-list-itm:hover {
    color: var(--light-blue-color);
}

.header-btns {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.header-btns .search {
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px;
    font-size: .75rem;
    width: 37px;
    height: 37px;
}

.header-btns .user {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .3rem .4rem;
    border-radius: 10px;
    transition: background-color .15s ease;
    cursor: pointer;
}

.header-btns .user:hover {
    background-color: rgba(255, 255, 255, .1);
}

.header-btns .user .img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
}

.header-btns .user .img img {
    width: 100%;
}

.header-btns .user i {
    color: white;
    font-size: .7rem;
    margin: 0 .25rem;
}

@media (max-width: 63em) {
    .header-logo {
        height: 1.85rem;
    }

    .header-section {
        width: 90%;
    }

    .header-btns .search {
        display: flex;
    }

    .navigation-list,
    .main-search-w {
        display: none;
    }
}

.content-wraper {
    width: 98%;
    margin: auto;
    display: grid;
}

.content {
    display: grid;
    grid-template-columns: auto 300px;
    gap: 3rem 1.5rem;
}

@media (max-width: 1200px) {
    .content-wraper {
        width: 92.5%;
    }

    .content {
        grid-template-columns: 100% !important;
    }

    .rp-dinamic-sections {
        display: none;
    }
}

.m-panel {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.r-panel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box-section {
    background-color: var(--transparent-dark-blue-color);
    padding: 1.5rem;
    border-radius: 15px;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.section-title h1,
.section-title h2 {
    margin: 0;
    color: white;
    font-size: 22px;
    font-weight: 600;
    max-width: 100%;
}

.section-title a {
    color: #a0a0a0;
    font-size: .9rem;
    text-wrap: nowrap;
    font-weight: 500;
    transition: color .15s ease;
}

.section-title a:hover {
    color: white;
}

@media (max-width: 30em) {
    .section-title {
        margin-bottom: 1rem;
    }

    .section-title h1,
    .section-title h2 {
        font-size: 20px;
    }

    .section-title a span {
        display: none;
    }
}

.movie-cards-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

@media (max-width: 35rem) {
    .movie-cards-container {
        column-gap: 1rem;
        row-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    }
}

.movie-card {
    display: grid;
    grid-template-rows: auto 12%;
    gap: .55rem;
}

.thumbnail-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    background-color: rgba(255, 255, 255, .1);
    isolation: isolate;
}

.thumbnail-container::after {
    content: '';
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(90deg, var(--dark-blue-color) 0, transparent 40%);
    background: linear-gradient(0deg, var(--dark-blue-color) 0, transparent 40%);
}

.thumbnail-container:hover .movie-card-img {
    filter: brightness(.75);
    transform: scale(109%);
}

.thumbnail-container:hover .play-btn {
    opacity: 1;
    font-size: 2.7rem;
}

.movie-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter .3s ease, transform .3s ease;
}

.movie-card-top-row {
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
    right: 4px;
    display: flex;
    justify-content: space-between;
}

.movie-card-top-row span {
    color: white;
    font-size: 12px;
    padding: .12rem .4rem;
    filter: drop-shadow(0 0 3px hsla(243, 23%, 16%, .3));
    border-radius: 3px;
}

.movie-card-top-row span.tl {
    background-color: #FF0044;
    font-weight: 600;
}

.movie-card-top-row span.tr {
    background-color: var(--light-blue-color);
}

.movie-card-bottom-row {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 4px;
    filter: drop-shadow(0 0 3px hsla(243, 23%, 16%, .3));
}

.tick {
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.tick span {
    color: white;
    font-size: 12px;
    padding: .12rem .4rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 4.5rem;
}

.tick .ep {
    background-color: var(--light-blue-color);
}

.tick .sub {
    background-color: #B0E3AF;
    color: hsl(0, 0%, 10%);
}

.tick .lan {
    background-color: rgba(255, 255, 255, .1);
}

.movie-card-t {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: .9em;
    color: white;
    min-height: 1rem;
}

.movie-card-t a {
    color: white;
    transition: color ease-in-out .1s;
}

.movie-card-t a:hover {
    color: var(--light-blue-color);
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    opacity: 0;
    font-size: 6rem;
    transition: opacity .3s ease, font-size .3s ease;
}

.rp-boxed {
    background-color: var(--transparent-dark-blue-color);
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 3rem;
    background-color: var(--transparent-dark-blue-color);
}

.footer-w {
    width: 87%;
    padding: 5em 0 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 1.5rem;
}

.footer-w div p {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

.footer-w div ul {
    margin: 0;
    padding: 0;
    display: grid;
    gap: .3rem;
    list-style: none;
}

.footer-w div ul li {
    transition: transform .25s;
}

.footer-w div ul li a {
    font-size: .9em;
    color: #aaa;
    transition: color .1s ease-in;
}

.footer-w div ul li:hover a {
    color: var(--light-blue-color);
}

.footer-w div span {
    display: flex;
    flex-wrap: wrap;
}

.footer-w div span i {
    color: hsl(0, 0%, 85%);
    font-size: 2rem;
    transition: color .1s ease-in-out;
}

.footer-w div span i:hover {
    color: var(--light-blue-color);
}

.f-btm {
    margin-top: .5rem;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 1rem;
    width: 100%;
}

.f-btm small {
    color: #a0a0a0;
    display: block;
}

#totop {
    position: fixed;
    bottom: 20px;
    right: 23px;
    z-index: 1;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: .9;
    font-size: 1rem;
    color: var(--dark-blue-color);
}

#totop:hover {
    opacity: 1;
}

#totop.show {
    display: flex;
}

#notice {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: hsla(243, 17%, 20%, .8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#notice div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: .8rem;
    margin: auto;
    max-width: 95%;
    padding: 1em 0;
}

@media (max-width: 40em) {
    #notice div {
        flex-direction: column;
    }
}

#notice p {
    color: white;
    font-size: .85em;
    margin: 0;
}

#notice button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    font-size: .8em;
    height: fit-content;
    padding: .35em .7em;
    cursor: pointer;
    transition: color .25s, background-color .25s;
}

#notice button:hover {
    color: var(--transparent-dark-blue-color);
    background-color: white;
}

.popup-list {
    position: relative;
    display: flex;
}

.popup-list ul {
    position: absolute;
    right: 0;
    bottom: 100%;
    transform: translateY(-8px);
    display: none;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-list ul li {
    padding: .7rem 1rem;
    text-wrap: nowrap;
    font-size: .8rem;
    color: black;
    cursor: pointer;
}

.popup-list ul li:hover {
    background-color: hsl(0, 0%, 90%);
}

.popup-list ul .select,
.popup-list ul .select:hover {
    background-color: var(--light-blue-color);
    color: white;
}

.popup-list:focus-within ul {
    display: block;
}

.lang-popup {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    display: grid;
    align-items: center;
}

.lang-msg-box {
    width: 85%;
    max-width: 25em;
    padding: 1rem;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, .1);
    position: relative;
}

.lang-msg-box::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--transparent-dark-blue-color);
    opacity: .9;
}

.lang-msg-box h3 {
    font-weight: 500;
    margin: 0 0 .5rem 0;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.lang-msg-box p {
    margin: 0 0 1rem 0;
    font-weight: 300;
    color: hsl(0, 0%, 90%);
    text-align: center;
    font-size: .85rem;
}

.lang-msg-box div {
    display: flex;
    gap: .5rem;
}

.lang-msg-box div button {
    flex: 1;
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .25rem .5rem;
    color: white;
    font-size: .85rem;
    font-weight: 500;
    cursor: pointer;
}

.lang-msg-box div button:hover {
    background-color: rgba(255, 255, 255, .25);
}

.lang-msg-box div button img {
    width: 30px;
    height: 30px;
}